<div class="blog_home">
  <% article = blog.articles.first %>
  <article>
    <header>
      <time>
        <span class="month"><%= article.date.strftime('%b') %></span><span class="day"><%= article.date.strftime('%d') %></span><span class="year"><%= article.date.strftime('%Y') %></span>
      </time>
      <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
    </header>

    <section>
      <%= article.summary %>
      <a href="<%= article.url %>">Read more</a>
    </section>


  </article>
  <section class="blog_articles">
    <table>
      <% blog.articles[1...10].each do |article| %>
        <tr>
          <td class="time"><%= article.date.strftime('%b %e, %Y') %></td>
          <td class="article"><a href="<%= article.url %>"><%= article.title %></a></td>
        </tr>
      <% end %>
    </table>
  </section>
</div>
